.backgroundphoto
{
    background-image: url('/images/Headerphoto.jpg');
    width: auto;
    height: 700px;
}

.headertext
{
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 60px;
    margin-top: 150px;
}

.navbarlogo
{
    height: 50px;
    width: 70px;
}

.card
{
    z-index: 999;
    position: relative;
    margin-top: 250px;
}

.animation
{
    animation: fade linear both;
}

.homecarousel
{
    margin-top: 150px;
}

.homecarouseltextheader
{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbarlogo
{
    z-index: 9999;
}



@keyframes fade
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}